.slider-index, .section-index {
    padding-bottom: 40px;
}
.section-quesaco figure img, .section-leve-matin figure img{
    margin-top: 80px;
}
a.bouton-orange {
    background: $orange;
    padding: 13px;
    color: white;
}
.section-formule h3, .section-ou h3 {
    font-weight: bold;
}
.section-formule p{
    font-weight: bold;
}
