.float-left {
    float: left;
}

.float-right {
    float: right;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-top-40 {
    margin-top: 40px;
}
.padding-bottom-40 {
    padding-bottom: 40px;
}
.padding-top-40 {
    padding-top: 40px;
}


/* COULEURS */
$orange: #f14800;
