<section class="row color-background section-index section-quesaco">
    <article class="large-6 column">
        <h2>
            Le Bas-Moteur ? Quèsaco ?!
        </h2>

        <p>
            Le Bas Moteur est un camion ravitailleur itinérant à Strasbourg et ses environs, nous distribuons sandwichs, burgers, frites, salades, desserts et cafés.
        </p>

        <p>
            En effet, ce projet a pour idée de rapprocher les produits de qualité que nous trouvons en France et la tradition de la street food développé aux Etats-Unis, dans le but de mettre en avant une street cuisine française bien loin du traditionnel jambon beurre ou des chaînes de restauration rapide.
        </p>
        <p>
            Le Bas Moteur est à l’image de ses  deux créateurs, Giusepe et Marco : simple et efficace.
        </p>
    </article>

    <figure class="large-6 column text-center large-text-right">
        <img src="../assets/img/hamburger.jpg" alt="Un hamburger" />
    </figure>
</section>

<section class="row color-background section-index section-leve-matin">

    <figure class="large-6 column show-for-large">
        <img src="../assets/img/portion-de-fritte.jpg" alt="Une portion de frittes" />
    </figure>

    <article class="large-6 column">
        <h2>
            Ce pour quoi on se lève le matin
        </h2>

        <p>
            A l’origine du Bas Moteur il y a une idée simple : créer une société qu’on n’aurait jamais envie de vendre.
        </p>
        <p>
            Mettre un coup de clef de 18 dans les molaires de la
            malbouffe. Travailler avec des potes. Bosser quand on veut, où on veut, habillé comme on veut.

        </p>
        <p>
            Créer des produits qu’on a nous-mêmes envie de consommer.
        </p>

        <p>
            Toutes ces petites choses qui changent la vie, donnent du sens, et rendent le travail… différent.
        </p>

        <p>
            Au bout il y aura le succès ou l’échec, nous verrons bien. Plus que le but, c’est la route qui compte.
        </p>

        <p>
            En créant notre Food-Truck une seule chose nous semblait évidente : nous voulions des produits qui nous ressemblent : simples, authentiques, au plus proche de la nature. Des produits sans prise de tête, faciles à comprendre et qui apportent quelque chose de nouveau. Et surtout des produits bons et sains.
        </p>
        <p class="margin-bottom-30">
            Fastfood MAIS de qualité !
        </p>

        <a class="bouton-orange" href="#">Voir + <img src="assets/img/fleche-bouton.png" alt="une flèche"></a>

    </article>

</section>

<section class="row color-background section-index section-formule">
    <h2 class="column">
        Nos formules
    </h2>
    <article class="medium-4 column">
        <h3>
            Pas trop stp !
        </h3>
        <ul>
            <li>- 1 sandwich taille-S</li>
            <li>- 1 boisson 33cl</li>
            <li>- 1 dessert ou 1 café/cookie</li>
        </ul>
        <p>
            Prix : 7€50
        </p>
    </article>
    <article class="medium-4 column">
        <h3>
            A la bien !
        </h3>
        <ul>
            <li>- 1 sandwich taille-M</li>
            <li>- 1 boisson 33cl</li>
            <li>- 1 dessert ou 1 salade</li>
            <li>- 1 café/cookie</li>
        </ul>
        <p>
            Prix : 10€50
        </p>
    </article>
    <article class="medium-4 column">
        <h3>
            Ça va faire mal !
        </h3>
        <ul>
            <li>- 1 salade</li>
            <li>- 1 sandwich taille-L</li>
            <li>- 1 boisson 50cl</li>
            <li>- 1 dessert</li>
            <li>- 1 café/cookie</li>
        </ul>
        <p>
            Prix : 12€50
        </p>
    </article>
</section>

<section class="row color-background section-index section-ou">
    <article class="medium-4 column">
        <h2>
            Quand et où ?
        </h2>
        <h3>
            Quand ?
        </h3>
        <p>
            Du lundi au vendredi : 10h45-18h30 <br>
            Le samedi : 10h30-21h30
        </p>
        <h3>
            Où ?
        </h3>
        <p>
            Place de l’étoile - face à la mairie <br>
            67000 Strasbourg
        </p>
    </article>

    <figure class="text-right medium-8 column">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2639.8777978094085!2d7.751582915664329!3d48.5738892792606!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4796c9abd43b8c07%3A0x340a5102e060dd37!2sPlace+de+l&#39;%C3%89toile%2C+Strasbourg!5e0!3m2!1sfr!2sfr!4v1481025237540" width="689" height="374" frameborder="0" style="border:0" allowfullscreen></iframe>
    </figure>

</section>
