<section class="row color-background a-la-une">
    <figure>
        <img src="../assets/img/bagle-sur-assiette.jpg" alt="Un bagle sur assiette" />
        <figcaption>
            <h1>
                Notre histoire un peu folle !
            </h1>
        </figcaption>
    </figure>
</section>

<section class="row color-background padding-top-40 padding-bottom-40">
    <img class="medium-2 column" src="../assets/img/asiette-bagel-1.jpg" alt="Un bagel sur assiette" />
    <blockquote class="medium-8 column" >
        « Celui qui ressent sa propre vie et celle des autres comme dénuées de sens est fondamentalement malheureux, puisqu'il n'a aucune raison de vivre. Sauf s’il prend une formule « à la bien » au Bas-Moteur le midi… là ça change tout ! »
        <cite>Albert Einstein</cite>
    </blockquote>
    <img class="medium-2 column" src="../assets/img/asiette-bagel-2.jpg" alt="Un bagel sur assiette" />
</section>

<section class="row color-background padding-bottom-40">
    <article class="large-6 column">
        <h2>
            Au commencement ...
        </h2>

        <p>
            Le Bas-Moteur est né de deux passionnés de street food et de culture anglosaxonne.

        </p>
        <p>
            Nous avons l'envie de partager notre appétit du bagel et des pâtisseries américaines. C'est ainsi que nous avons Le Bas-Moteur, le premier food truck de la région Alsace qui propose des bagels, ces bons pains ronds percés d'un trou. Il y a dans chaque bagel un ingrédient dont la recette est faite maison.

        </p>
        <p>
            Notez aussi que toutes nos sauces sont 100% home-made (parole!).
        </p>
    </article>

    <figure class="large-6 column text-right medium-text-center">
        <img class="margin-top-40" src="../assets/img/asiette-bagel-3.jpg" alt="Un bagel sur assiette" />
    </figure>
</section>

<section class="row color-background padding-bottom-40">
    <figure class="small-12 medium-6 column medium-offset-3">
        <div class="flex-video">
            <div class="flex-video">
                <iframe width="420" height="315" src="https://player.vimeo.com/video/88816402" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </figure>
</section>

<section class="row padding-bottom-40 color-background">
    <h2 class="column">
        Les ingrédients du turfu
    </h2>
    <article class="medium-6 column">
        <p>
            Nous avons cherché le pain bagel le plus authentique, c'est ainsi qu'il est fabriqué par une vraie new-yorkaise à base de produits frais, sans conservateurs, ni additifs!
        </p>
        <p>
            Nos ingrédients sont aussi sélectionnés avec soin puisque nous favorisons les circuits courts avec les maraîchers et producteurs locaux. Ainsi les légumes viennent pour la plupart d’Obernai, le poulet de Turckheim et les fruits du Jardin d'Éthan à Ribeauvillé.
        </p>
        <p>
            Pour les ingrédients non-locaux tels que le "cream cheese", l'authenticité est toujours de mise avec la célèbre marque Philadelphia, le "smoked meat" autrement dit le pastrami de boeuf est fabriqué par William, le plus grand fan des delicatessen New-Yorkais!
        </p>
    </article>
    <article class="medium-6 column">
        <p>
            Nous le servons selon la tradition, c'est à dire chauffé à la vapeur pour garder toutes les saveurs épicées de la viande qui font son goût si unique.
        </p>
        <p>
            Le Bas Moteur est la prochaine étape gustative de votre pause déjeuner (si vous ne venez pas on vous retrouvera et on saccagera votre appartement).
        </p>
        <p>
            Ne nous loupez pas car nous changeons d'emplacement tous les jours!
        </p>
        <p>
            See ya dudes !
        </p>
    </article>
</section>

<section class="row color-background text-center padding-bottom-40">
    <p>
        Tu aime le concepte ? Partage cette page avec tes amis ! ;)
    </p>
    <p>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="#" data-lang="fr" data-size="large">Tweeter</a>

        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2FWebyx-Cr%25C3%25A9ation-de-site-internet-271395526545206%2F&layout=button&size=large&mobile_iframe=true&width=89&height=28&appId" width="89" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

<span class="icone-pinterest">
    <a data-pin-do="buttonBookmark" data-pin-tall="true" data-pin-lang="fr" data-pin-save="true" href="https://fr.pinterest.com/pin/create/button/"></a>
</span>




    </p>
</section>
