<footer class="row text-center">
    <article class="medium-text-left medium-4 column">
        <p>
            Place de l’étoile <br>
            face à la mairie <br>
            67000 Strasbourg
        </p>
    </article>
    <article class="medium-4 column">
        <p>
            Copyright : Le Bas Moteur – 2017
        </p>
        <p>
            <a href="#">
                Mentions légales
            </a>
        </p>
    </article>
    <article class="medium-text-right medium-4 column">
        <p>
            <a href="">
                <img src="assets/img/icone-facebook.png" alt="Icone Facebook">
            </a>
            <a href="">
                <img src="assets/img/icone-twitter.png" alt="Icone twitter">
            </a>
        </p>
    </article>
</footer>
