<header>
    <div class="row color-background menu-princi">
        <div class="small-2 column">
            <a href="#">
                <img class="logo" src="../assets/img/logo-le-bas-moteur-baseline.png" alt="Logo le bas moteur">
            </a>
        </div>
        <button type="button" class="float-right button hide-for-large" data-toggle="offCanvas">
            Open Menu
        </button>
        <nav>
            <ul class="menu align-right small-10 column show-for-large">
              <li><a href="#">Contact</a></li>
              <li><img src="../assets/img/separateur-menu.png" alt="Séparateur menu"></li>
              <li><a href="#">Où et quand ?</a></li>
              <li><img src="../assets/img/separateur-menu.png" alt="Séparateur menu"></li>
              <li><a href="#">Quoi ?</a></li>
              <li><img src="../assets/img/separateur-menu.png" alt="Séparateur menu"></li>
              <li><a href="#">Qui ?</a></li>
              <li><img src="../assets/img/separateur-menu.png" alt="Séparateur menu"></li>
              <li><a href="#">Accueil</a></li>
            </ul>
        </nav>
    </div>
</header>
